.container__form {
  position: fixed;
  right: 0px;
  bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  background: #000809;
  background: linear-gradient(348deg, rgba(0, 8, 9, 0.877188) 0%, rgba(27, 29, 31, 0.795) 94%);
  margin-top: 1rem;
  border-radius: 10px;
  height: 350px;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  z-index: 999;
}

.container__form input {
  width: 280px;
  height: 40px;
  margin: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(99, 134, 161, 0.486);
  color: #bdd4e7;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.container__form input:focus {
  background-color: rgba(82, 121, 153, 0.486);
  border-bottom: solid #EBB359 1px;
  outline: 0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container__form .container__form__btn-enviar {
  margin-top: 20px;
  width: 280px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(14, 15, 15, 0.836);
  background: linear-gradient(61deg, rgba(226, 223, 30, 0.938) 0%, rgba(197, 41, 21, 0.95) 48%, rgba(221, 224, 20, 0.961) 100%);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.container__form .container__form__btn-enviar:hover {
  -webkit-animation: neon 1s ease-in-out infinite alternate;
          animation: neon 1s ease-in-out infinite alternate;
  cursor: pointer;
}

@-webkit-keyframes mostrar-form {
  0% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes mostrar-form {
  0% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes remover-form {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@keyframes remover-form {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@-webkit-keyframes neon {
  from {
    -webkit-box-shadow: 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 5px rgba(238, 230, 230, 0.486), 0 0 10px rgba(34, 192, 195, 0.705), 0 0 20px rgba(34, 192, 195, 0.479), 0 0 30px rgba(34, 192, 195, 0.589), 0 0 40px rgba(34, 192, 195, 0.534), 0 0 50px rgba(34, 192, 195, 0.788);
            box-shadow: 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 5px rgba(238, 230, 230, 0.486), 0 0 10px rgba(34, 192, 195, 0.705), 0 0 20px rgba(34, 192, 195, 0.479), 0 0 30px rgba(34, 192, 195, 0.589), 0 0 40px rgba(34, 192, 195, 0.534), 0 0 50px rgba(34, 192, 195, 0.788);
    opacity: 0.6;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(238, 230, 230, 0.486), 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 7px #22c1c3, 0 0 15px #22c1c3, 0 0 23px #22c1c3, 0 0 30px rgba(34, 192, 195, 0.603), 0 0 35px rgba(34, 192, 195, 0.678);
            box-shadow: 0 0 0px rgba(238, 230, 230, 0.486), 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 7px #22c1c3, 0 0 15px #22c1c3, 0 0 23px #22c1c3, 0 0 30px rgba(34, 192, 195, 0.603), 0 0 35px rgba(34, 192, 195, 0.678);
    opacity: 1;
  }
}

@keyframes neon {
  from {
    -webkit-box-shadow: 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 5px rgba(238, 230, 230, 0.486), 0 0 10px rgba(34, 192, 195, 0.705), 0 0 20px rgba(34, 192, 195, 0.479), 0 0 30px rgba(34, 192, 195, 0.589), 0 0 40px rgba(34, 192, 195, 0.534), 0 0 50px rgba(34, 192, 195, 0.788);
            box-shadow: 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 5px rgba(238, 230, 230, 0.486), 0 0 10px rgba(34, 192, 195, 0.705), 0 0 20px rgba(34, 192, 195, 0.479), 0 0 30px rgba(34, 192, 195, 0.589), 0 0 40px rgba(34, 192, 195, 0.534), 0 0 50px rgba(34, 192, 195, 0.788);
    opacity: 0.6;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(238, 230, 230, 0.486), 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 7px #22c1c3, 0 0 15px #22c1c3, 0 0 23px #22c1c3, 0 0 30px rgba(34, 192, 195, 0.603), 0 0 35px rgba(34, 192, 195, 0.678);
            box-shadow: 0 0 0px rgba(238, 230, 230, 0.486), 0 0 1px rgba(238, 230, 230, 0.486), 0 0 3px rgba(238, 230, 230, 0.486), 0 0 7px #22c1c3, 0 0 15px #22c1c3, 0 0 23px #22c1c3, 0 0 30px rgba(34, 192, 195, 0.603), 0 0 35px rgba(34, 192, 195, 0.678);
    opacity: 1;
  }
}
/*# sourceMappingURL=formStyle.css.map */