.pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);

}

.pop-up.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        width: 300px;
        height: 450px;
        border-radius: 10px;
        margin-top: 1rem;
        margin: 10px;
        background-color: #EBB359;
        transform: scale(1.2);

        img {
            width: 230px;
            border-radius: 7px;
        }

        p {
            color: black;
        }
    }

    p {
        border-bottom: 1px solid black;
        border-radius: 10px;
        margin: 20px 20px 5px 20px;
        padding: 10px;
        text-align: center;
        overflow: auto;
    }
}

.section__paragrafo__aberto {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}