* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-auxiliar: #EBB359;
}

body {
    background-color: #0C0F0C;
    background-image: url(../imgs/TelaDeFundo06.jpg);
    // background-repeat: repeat-y;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    // -webkit-background-size:cover;
    // -moz-background-size:cover;
    // -o-background-size:cover;
}


.general__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    // background-color: black;
    
}

.top__container {
    flex: 1;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    flex-flow: row wrap;
    // border: 1px solid black;
    // background-color: #EBB359;
    // background-color: darkgray;
    // opacity: 0.3;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;
    

    a {
        padding: 20px 20px 20px 20px;
        text-decoration: none;
        color:  var(--cor-auxiliar);
        font-weight: bold;
        font-size: 18px;
        // box-shadow: 4px 3px 3px var(--cor-auxiliar);
        &:hover {
            color: aqua;
        }
    }
        
    }

    

#titulo-principal {
    color:  var(--cor-auxiliar);
    // padding: 0 0 10px 0;
    // color: white;
    // border: 1px solid black;
    
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    h1 {
        margin-bottom: 10px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn-abrir-form {
    box-sizing: border-box;
    margin: 0;
    width: 60px;
    height: 84px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    animation: go-back 0.7s infinite alternate;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
    &:hover {
        p {
            color: aqua;
            // color: rgb(11, 12, 37);
            transform: scale(1.2);
            transition: ease-in 0.3s;
            
        }
    }

    img {
        width: 60px;
        animation: girar 0.5s linear infinite;
        border-radius: 100%;
    }

    p {
        color:  var(--cor-auxiliar);
        font-size: 18px;
    }


}


.section__cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 95vw;
    margin: 0 auto;
    max-width: 1440px;
    // border: 1px solid #EBB359;
    border-radius: 10px;
    padding: 10px;
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid  var(--cor-auxiliar);
        // border: 2px solid white;
        box-shadow: 8px 5px 5px  var(--cor-auxiliar);
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-top: 1rem;
        margin: 10px;
    }

    p {
        border-bottom: 1px solid  var(--cor-auxiliar);
        // border-radius: 10px;
        margin: 20px;
        padding: 10px;
    }
}

.imagem-card {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.conteudo-card {
    width: 280px;
}

.section__card__box__paragrafo {
    overflow: auto;
    height: 200px;
}

.section__titulo {
    color:  var(--cor-auxiliar);
}

.section__paragrafo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:  var(--cor-auxiliar);
}


footer {
    text-align: center;
    margin-top: 30px;
    // border: 1px solid black;
    padding: 17px;
    margin-bottom: 0;
    // background-color: #EBB359;
    opacity: 0.7;

    a {
        padding: 20px;
        text-decoration: none;
        color:  var(--cor-auxiliar);
        font-weight: bold;
        font-size: 18px;
        // box-shadow: 5px 5px 5px #EBB359;
        
    }
}
 

// Animações
@keyframes go-back {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(0.9);
    }
}


@keyframes girar {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}



//Media Queries
// @media (min-width: 768px) and (max-width: 1023px) {
    
//     .general__container {
//         min-height: 92vh;
//         display: flex;
//         flex-direction: column;
//     }
// }

// @media (min-width: 1024px) {
    
//     .general__container {
//         min-height: 94vh;
//         display: flex;
//         flex-direction: column;
//     }
// }


