* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0C0F0C;
}

.general__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
}

.top__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: 1px solid black;
}

.navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navegacao a {
  padding: 20px;
  text-decoration: none;
  color: #EBB359;
  font-weight: bold;
  font-size: 18px;
}

#titulo-principal {
  color: #EBB359;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

main h1 {
  margin-bottom: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-abrir-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 60px;
  height: 84px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  -webkit-animation: go-back 0.7s infinite alternate;
          animation: go-back 0.7s infinite alternate;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
}

.btn-abrir-form:hover p {
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.btn-abrir-form img {
  width: 60px;
  -webkit-animation: girar 0.5s linear infinite;
          animation: girar 0.5s linear infinite;
  border-radius: 200%;
}

.btn-abrir-form p {
  color: #EBB359;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 1rem;
  width: 95vw;
  margin: 0 auto;
  max-width: 1440px;
  border: 1px solid #9E7634;
  border-radius: 10px;
  padding: 10px;
}

.section__cards article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #9E7634;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-top: 1rem;
  margin: 10px;
}

.section__cards p {
  border-bottom: 1px solid #9E7634;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.imagem-card {
  width: 200px;
  height: 150px;
}

.conteudo-card {
  width: 280px;
}

.section__card__box__paragrafo {
  overflow: auto;
  height: 200px;
}

.section__titulo {
  color: #9E7634;
}

.section__paragrafo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #9E7634;
}

footer {
  text-align: center;
  margin-top: 30px;
  border: 1px solid black;
  padding: 17px;
  margin-bottom: 0;
}

footer a {
  padding: 20px;
  text-decoration: none;
  color: #EBB359;
  font-weight: bold;
  font-size: 18px;
}

@-webkit-keyframes go-back {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes go-back {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes girar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes girar {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .general__container {
    min-height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .general__container {
    min-height: 94vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */