* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top__container {
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid black;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;

    a {
        padding: 20px;
        text-decoration: none;
        color: black;
    }
}