* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general__container {
    min-height: 87.5vh;
    display: flex;
    flex-direction: column;
}

.top__container {
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid black;
}

.navegacao {
    display: flex;
    flex-flow: row wrap;

    a {
        padding: 20px;
        text-decoration: none;
        color: black;
    }
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    h1 {
        margin-bottom: 10px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn-abrir-form {
    box-sizing: border-box;
    margin: 0;
    width: 60px;
    height: 84px;
    position: fixed;
    bottom: 10px;
    right: 2px;
    cursor: pointer;
    animation: go-back 0.7s infinite alternate;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
    &:hover {
        p {
            color: rgb(11, 12, 37);
            transform: scale(1.1);
            transition: ease-in 0.3s;
        }
    }

    img {
        width: 60px;
        animation: girar 0.5s linear infinite;
        border-radius: 100%;
    }


}


.section__cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 95vh;
    margin: 0 auto;
    max-width: 1440px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-top: 1rem;
        margin: 10px;
    }

    p {
        border-bottom: 1px solid black;
        border-radius: 10px;
        margin: 20px;
        padding: 10px;
    }
}

.imagem-card {
    width: 200px;
    height: 150px;
}

.conteudo-card {
    width: 280px;
}

.section__paragrafo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


footer {
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
    padding: 17px;
    margin-bottom: 0;
}
 

// Animações
@keyframes go-back {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(0.9);
    }
}


@keyframes girar {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}



// Media Queries
@media (min-width: 768px) and (max-widt: 1023px) {
    
    .general__container {
        min-height: 92vh;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    
    .general__container {
        min-height: 94vh;
        display: flex;
        flex-direction: column;
    }
}


